# Hive Metastore / PostgreSQL
HIVE_METASTORE_DB_PASSWORD=ChangeMe_Hive_123!

# MinIO
MINIO_ROOT_USER=gridpredic
MINIO_ROOT_PASSWORD=ChangeMe_MinIO_123!

# SQL Server
# Debe cumplir la política de complejidad de SQL Server.
MSSQL_SA_PASSWORD=ChangeMe_SQL_123!